@tailwind base;
@tailwind components;
@tailwind utilities;
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
  --f: 'Josefin Sans', sans-serif;
  --blue: #b8f3ff;
  --white: rgb(231, 231, 231);
  --link: rgb(124, 165, 255);
}

body {
  font-family: var(--f);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background-color: rgb(39 39 42);
}

::-webkit-scrollbar {
  display: none;
}

nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  width: 100%;
}

nav ul {
  list-style: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--blue);
  background-color: rgb(24 24 27);
}

nav ul li {
  display: inline-flex;
  margin: 1% 3%;
}


/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(184, 243, 255, 0.35) 0%, rgba(184, 243, 255, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(184, 243, 255, 0.35) 0%, rgba(184, 243, 255, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

.head {
  color: var(--white);
}

.cdown {
  color: rgb(161, 205, 244);
}

.desc {
  color: var(--blue);
}

.left {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
}

.right {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
}


.left1 {
  position: relative;
  width: 70%;
  float: left;
  height: 100%;
}

.right1 {
  position: relative;
  width: 30%;
  float: left;
  height: 100%;
}


.subhead {
  color: rgb(161, 205, 244);
}

.text {
  color: var(--white);
  font-size: 1.15rem;
}

.closed {
  color: rgb(236, 78, 32);
}

.delay {
  color: rgb(255, 233, 0);
}

.alert {
  color: var(--link);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.archived {
  color: gray;
}
